# Data Cleaning Project â€” (Nike_Sales_Uncleaned.csv)

In [ ]:
## Objective - The goal of this project is to clean raw data and prepare it for further exploratory analysis or machine learning.
# This includes:
# Handling missing values
# Cleaning and standardizing numeric fields
# Processing and encoding categorical values
# Parsing and formatting date/time values
# Exporting the final cleaned dataset

In [45]:
# Import Required Libraries
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [47]:
# Load the Dataset
data=pd.read_csv("Nike_Sales_Uncleaned.csv")
data.head()

,Order_ID,Gender_Category,Product_Line,Product_Name,Size,Units_Sold,MRP,Discount_Applied,Revenue,Order_Date,Sales_Channel,Region,Profit
0,2000,Kids,Training,SuperRep Go,M,NaN,NaN,0.47,0.0,2024-03-09,Online,bengaluru,-770.45
1,2001,Women,Soccer,Tiempo Legend,M,3.0,4957.93,NaN,0.0,2024-07-09,Retail,Hyd,-112.53
2,2002,Women,Soccer,Premier III,M,4.0,NaN,NaN,0.0,NaN,Retail,Mumbai,3337.34
3,2003,Kids,Lifestyle,Blazer Mid,L,NaN,9673.57,NaN,0.0,04-10-2024,Online,Pune,3376.85
4,2004,Kids,Running,React Infinity,XL,NaN,NaN,NaN,0.0,2024/09/12,Retail,Delhi,187.89

# Inspect the Data Structure

In [51]:
data.shape

(2500, 13)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          2500 non-null   int64
 1   Gender_Category   2500 non-null   object
 2   Product_Line      2500 non-null   object
 3   Product_Name      2500 non-null   object
 4   Size              1990 non-null   object
 5   Units_Sold        1265 non-null   float64
 6   MRP               1246 non-null   float64
 7   Discount_Applied  832 non-null    float64
 8   Revenue           2500 non-null   float64
 9   Order_Date        1884 non-null   object
 10  Sales_Channel     2500 non-null   object
 11  Region            2500 non-null   object
 12  Profit            2500 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 254.0+ KB

In [6]:
data.isnull().sum()

Order_ID               0
Gender_Category        0
Product_Line           0
Product_Name           0
Size                 510
Units_Sold          1235
MRP                 1254
Discount_Applied    1668
Revenue                0
Order_Date           616
Sales_Channel          0
Region                 0
Profit                 0
dtype: int64

# Cleaning numerical columns

In [8]:
data["Units_Sold"].fillna(data["Units_Sold"].mean(),inplace=True)
data["Units_Sold"].isnull().sum()

0

In [9]:
data["MRP"].fillna(data["MRP"].mean(),inplace=True)
data["MRP"].isnull().sum()

0

In [10]:
data["Discount_Applied"].fillna(data["Discount_Applied"].mean(),inplace=True)
data["Discount_Applied"].isnull().sum()

0

In [11]:
data.isnull().sum()

Order_ID              0
Gender_Category       0
Product_Line          0
Product_Name          0
Size                510
Units_Sold            0
MRP                   0
Discount_Applied      0
Revenue               0
Order_Date          616
Sales_Channel         0
Region                0
Profit                0
dtype: int64

# Cleaning categorical column

In [13]:
data["Size"].fillna(data["Size"].mode()[0],inplace=True)
data["Size"].isnull().sum()

0

In [14]:
data.isnull().sum()

Order_ID              0
Gender_Category       0
Product_Line          0
Product_Name          0
Size                  0
Units_Sold            0
MRP                   0
Discount_Applied      0
Revenue               0
Order_Date          616
Sales_Channel         0
Region                0
Profit                0
dtype: int64

In [15]:
data["Size_Type"] = data["Size"].apply(lambda x: "NUMERIC" if x.isdigit() else "ALPHABETIC")

In [16]:
data.tail()

,Order_ID,Gender_Category,Product_Line,Product_Name,Size,Units_Sold,MRP,Discount_Applied,Revenue,Order_Date,Sales_Channel,Region,Profit,Size_Type
2495,4495,Kids,Basketball,Kyrie Flytrap,XL,3.000000,6039.863395,0.631022,0.0,2025-05-14,Online,Pune,2.97,ALPHABETIC
2496,4496,Men,Basketball,Kyrie Flytrap,L,-1.000000,6039.863395,0.631022,0.0,NaN,Online,Hyd,-487.36,ALPHABETIC
2497,4497,Men,Soccer,Tiempo Legend,7,1.482213,6647.600000,0.520000,0.0,02-07-2025,Retail,Bangalore,-918.14,NUMERIC
2498,4498,Women,Training,ZoomX Invincible,L,4.000000,5358.700000,0.631022,0.0,11-12-2024,Online,Mumbai,3352.29,ALPHABETIC
2499,4499,Women,Running,Air Zoom,M,1.482213,5550.990000,0.631022,0.0,23-11-2024,Retail,Mumbai,2453.57,ALPHABETIC

# Cleaning Date column

In [18]:
data["Order_Date"].value_counts()

Order_Date
17-11-2024    6
2024/12/16    6
19-07-2025    6
2024/11/10    6
10-12-2024    6
             ..
2023-10-26    1
2024-08-25    1
2025/07/15    1
2023-09-26    1
2025-05-14    1
Name: count, Length: 1008, dtype: int64

In [19]:
data["Order_Date"]= pd.to_datetime(data["Order_Date"], errors="coerce")
data["Order_Date"] = data["Order_Date"].dt.strftime("%Y-%m-%d")
data["Order_Date"] = data["Order_Date"].fillna("UNKNOWN")
data["Order_Date"]

0       2024-03-09
1       2024-07-09
2          UNKNOWN
3          UNKNOWN
4          UNKNOWN
           ...
2495    2025-05-14
2496       UNKNOWN
2497       UNKNOWN
2498       UNKNOWN
2499       UNKNOWN
Name: Order_Date, Length: 2500, dtype: object

In [20]:
data.head()

,Order_ID,Gender_Category,Product_Line,Product_Name,Size,Units_Sold,MRP,Discount_Applied,Revenue,Order_Date,Sales_Channel,Region,Profit,Size_Type
0,2000,Kids,Training,SuperRep Go,M,1.482213,6039.863395,0.470000,0.0,2024-03-09,Online,bengaluru,-770.45,ALPHABETIC
1,2001,Women,Soccer,Tiempo Legend,M,3.000000,4957.930000,0.631022,0.0,2024-07-09,Retail,Hyd,-112.53,ALPHABETIC
2,2002,Women,Soccer,Premier III,M,4.000000,6039.863395,0.631022,0.0,UNKNOWN,Retail,Mumbai,3337.34,ALPHABETIC
3,2003,Kids,Lifestyle,Blazer Mid,L,1.482213,9673.570000,0.631022,0.0,UNKNOWN,Online,Pune,3376.85,ALPHABETIC
4,2004,Kids,Running,React Infinity,XL,1.482213,6039.863395,0.631022,0.0,UNKNOWN,Retail,Delhi,187.89,ALPHABETIC

# Export Final Cleaned Dataset

In [21]:
data.to_csv("Cleaned_data.csv", index=False)

In [42]:
data.to_excel("Cleaned_data.xlsx", index=False)

### Conclusion :
### The dataset has been successfully cleaned:
### All numeric, categorical, and date fields are standardized.
### No missing or invalid values remain.
### Dataset is now ready for feature engineering, visualization, or machine learning.